# Cache e arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.vscode/

# Arquivos temporários do Power BI
*.pbix.auto
*.tmp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

#ignorar os arquivos brutos e processados pesados
data/raw/*.csv
data/processed/f_anp.csv